.videoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.747);
    margin: 20px auto;
    border-radius: 10px;
}

.videoDiv h2 {
    color: white
}