#nosotres {
    background-color: #ffefd8;
    padding-bottom: 70px;
}

#nosotres h3 {
    width: 50%;
    margin: 70px auto;
    font-size: 30px;
    font-weight: 100;
    text-align: justify;
    text-justify: inter-word;
}

.persona {
    background-color: #753422ec;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    margin: 40px auto;
    color: #FFEBC9;
    box-shadow: 10px 10px 2px 1px grey;
}

.banda {
    display: flex;
    width: 100%;
    height: 120px;
    background-image: url('../../assets/fondoMadera.png');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.banda h1 {
    font-size: 45px;
  text-shadow: -1px 1px 2px black;
}

.persona p {
    margin: 30px 70px 30px 70px;
    line-height: 0.8cm;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.fotos {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    margin-top: 20px;
}