.persona {
    background-color: #753422ec;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    margin: 40px auto;
    font-family: Courier, sans-serif;
    color: #FFEBC9;
    box-shadow: 10px 10px 2px 1px grey;
}

.persona p {
    margin-top: 30px;
    margin-left: 70px;
    line-height: 0.8cm;
}

.fotos {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}