@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.bandaContacto {
  display: flex;
  width: 100%;
  height: 120px;
  background-image: url('../../assets/fondoMadera.png');
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.bandaContacto h1 {
  font-size: 45px;
  text-shadow: -1px 1px 2px black;
}

#contacto {
    background-color: #ffefd8;
    background-size: 100% 100%;
    height: 750px;
}

#contacto form {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 20px;
    width: 50%;
}

#contacto form input {
    margin: 15px;
    height: 30px;
    width: 100%;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    color: #e58586;
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contacto form textarea {
    margin-top: 15px;
    font-size: 20px;
    padding-left: 10px;
    height: 220px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    color: #e58586;
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contacto form button {
  position: relative;
  margin-top: 50px;
  padding-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #e58586;
    font-size: 25px;
    border: none;
    font-weight: 100;
    height: 40px;
    width: 200px;
    cursor: pointer;
}

@media only screen and (max-width: 731px) {
  .bandaContacto {
    margin-top: 60px;
  }
}