@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.home {
    background-image: url('../../assets/fondoHome.png');
    background-size: 100% 100%;
    height: 800px;
    padding-top: 60px;
    padding-left: 80px;
    
}

.home a {
    text-decoration: none;
}

.home p {
    color: white;
    font-size: 30px;
    font-weight: 100;
    width: 60%;
}

.home button {
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  font-weight: bolder;
  border-style: none;
  cursor: pointer;
}

#youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6383a;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    box-shadow: -2px 2px 3px 1px black;
    position: relative;
}


.fondo {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.bandaLogo {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #b24443;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3123px 5px 2px grey;
}
  
.bandaLogo img {
    height: 110px;
    width: 215px;
}

.roll-in-left {
	-webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

.bandaAportes {
    display: flex;
    z-index: 1;
    height: 110px;
    width: 100%;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#aportes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/fondoMadera.jpeg');
    background-size: 100% 100%;
    width: 100%;
    height: 270px;
}

.cajaAportes {
    width: 50%;
    padding: 0px 250px;
}

.opcionAporte {
    display: flex;
    cursor: 'pointer';
    height: 270px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    height: 100px;
    box-shadow: -2px 2px 5px 2px black;
}

.opcionAporte img {
    height: 55px;
}