/* Add a black background color to the top navigation */
.topnav {
  z-index: 900;
  display: flex;
  align-items: center;
  background-color: white;
  overflow: hidden;
  height: 75px;
  color: black;
}

html {
  scroll-behavior: smooth;
}

#logo {
  width: 80px;
  margin: 0 10px 0 40px;
}

#logo img {
  width: 65px;
}

#logo img:hover {
  width: 70px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing:border-box;
  text-align: center;
}

#linkNews {
  padding: 14px 18px;
}

/* Style the links inside the navigation bar */
.links a {
  color: black;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  width: 125px;
}

/* Change the color of links on hover */
.links a:hover {
  font-size: 19px;
}

/* Add a color to the active/current link */
.links a.active {
  border-top: 4px solid #b24443;
}
