#bandaEntrada {
    display: flex;
    width: 100%;
    height: 120px;
    background-image: url('../../assets/fondoMadera.png');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

#bandaEntrada h1 {
    font-size: 45px;
    text-shadow: -1px 1px 2px black;
}

#vistaEntrada {
    height: 100%;
}

#vistaEntrada p {
    font-size: 20px;
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 50px;
}

#entradaContent {
    padding: 50px 300px;
}

#entradaContent h3 {
    margin-bottom: 50px;
}

.entradaImg {
    height: 200px;
}

#entradaHeader {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#entradaInfo h3 {
    font-weight: normal;
}

@media only screen and (max-width: 731px) {

    #entradaContent {
        padding: 50px 30px;
    }
    
    #bandaEntrada {
        margin-top: 60px;
    }

    #bandaEntrada h1 {
        font-size: 35px;
        text-align: center;
    }

    #entradaContent img {
        display: block;
        margin: 0 auto;
    }

    #entradaInfo h3 {
        text-align: center;
    }

    #entradaContent p {
        font-size: 17px;
    }
}