

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fondo {
  z-index: -1;
  position: absolute;
  position: fixed;
  opacity: 0.5;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  filter: blur(1px);
  background-attachment: fixed;
}