@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#newsletter {
    background-color: #ffefd8;
}

#newsletter a {
    text-decoration: none;
    color: black;
}

#suscribite {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 50px auto 0px auto;
}

#suscribite input {
    width: 75%;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    color: #e58586;
}

#suscribite button {
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #e58586;
    font-size: 25px;
    border: none;
    font-weight: 100;
    height: 40px;
    width: 200px;
    cursor: pointer;
}

.banda3 {
    display: flex;
    width: 100%;
    height: 120px;
    background-image: url('../../assets/fondoMadera.png');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.banda3 h1 {
    font-size: 45px;
    text-shadow: -1px 1px 2px black;
}

.entradas {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.singleEntrada {
    display: flex;
    margin: 30px auto;
    align-items: center;
    width: 80%;
    padding: 25px 0px;
    background-color: burlywood;
    box-shadow: -2px 2px 5px black;
    border-radius: 10px;
}

.singleEntrada h1 {
    font-size: 30px;
}

.singleEntrada p {
    font-size: 20px;
}

.singleEntrada p:hover {
    text-decoration: underline;
}

.singleEntrada h1:hover {
    text-decoration: underline;
}

.singleEntrada img {
    height: 150px;
    margin: 0 40px;
}

#loader {
    display: flex;
    margin: 30px auto;
    justify-content: center;
}

@media only screen and (max-width: 731px) {

    .banda3 {
      margin-top: 60px;
    }

    #suscribite {
        width: 70%;
        flex-direction: column;
        align-items: center;
    }

    #suscribite input {
        width: 94%;
        margin-bottom: 10px
    }

    #suscribite button {
        width: 100%
    }

    .singleEntrada {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .snippetEntrada {
        display: none;
    }

    .singleEntrada h1 {
        font-size: 25px;
        margin: 0px 5px;
        text-align: center;
    }

    .singleEntrada img {
        width: 150px;
    }

    .fechaEntrada {
        text-align: center;
    }
  }