@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#newsletter {
    background-color: #ffefd8;
}

#suscribite {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 50px auto 0px auto;
}

#suscribite input {
    width: 75%;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    color: #e58586;
}

#suscribite button {
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #e58586;
    font-size: 25px;
    border: none;
    font-weight: 100;
    height: 40px;
    width: 200px;
    cursor: pointer;
}

.banda3 {
    display: flex;
    width: 100%;
    height: 120px;
    background-image: url('../../assets/fondoMadera.jpeg');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.banda3 h1 {
    font-size: 45px;
    text-shadow: -1px 1px 2px black;
}

.entradas {
    display: flex;
    justify-content: center;
}

.singleEntrada {
    display: flex;
    margin: 50px auto;
    width: 80%;
    padding-bottom: 25px;
    border-bottom: 2px solid black;
}

.singleEntrada h1 {
    font-size: 25px;
}

.singleEntrada p {
    font-size: 15px;
    font-weight: bold;
}

.singleEntrada img {
    height: 150px;
    width: 220px;
    margin: 0 40px;
    border: 2px solid black;
}